#calendar-table{
    margin:auto;
    text-align:center;
    border:1px solid
}

/* 각 칸의 가로, 테두리 */
#year-month, #month-weekday, #month-day-empty, #month-day{
    width:80px;
    border:1px solid;
}

/* 각 칸의 높이 */
#year-month, #month-day-empty, #month-day{
    height:80px;
}

/* 월, 일, 요일의 테두리 */
/* #year-month, #month-day, #month-weekday{
    border:1px solid;
} */

/* 요일 높이 */
#month-weekday{
    height:20px;
}

#month-day-empty{
}

td.sunday, td.holiday{
    color:red;
}
td.saturday{
    color:blue;
}