#calendar-table
{
    margin:auto;
    text-align:center;
}

/* 요일 높이 */
#month-weekday{
    height:20px !important;
}

#calendar-table tr td
{
    width:80px;
    height:80px;
    border:1px solid; 
    border-spacing: 0px;
    border-color:lightgray;
}

#month-day-today
{
    background-color:lightgray
}

#month-day-empty{
}

td.sunday, td.holiday{
    color:red;
}
td.saturday{
    color:blue;
}

button.calendar_button{
    background-color: white;
    border-color:white;
}