#calendar-table
{
    margin:auto;
    text-align:center;
}

.calendar_header{
    height:20px !important;
}

/* 요일 높이 */
#month-weekday{
    height:20px !important;
}

#calendar-table tr td
{
    width:80px;
    height:80px;
    border:1px solid; 
    border-spacing: 0px;
    border-color:lightgray;
}

#month-day-today
{
    background-color:lightgray
}

#month-day-empty{
}

td.sunday, td.holiday{
    color:red;
}
td.saturday{
    color:blue;
}
td.vacation{
    color:red;
}
td.half_vacation{
    color:pink;
}

#side_area>div
{
    /*border:1px solid #dae1e6;*/
    background-color:#f9f9f9;
    border-radius: 10px;

    margin:15px;
}

#side_area>div>table
{
    border:0px;
}

#side_area>div>table>th, td
{
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
}