<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>NVS month time</title>
        <script src="/static/Calendar/Calendar.js"></script>
        <link rel="stylesheet" href="/static/Calendar/Calendar.css">
    </head>
    <body>
        <div id='title' style="margin:auto;text-align:center;">
            <h1>time</h1>
        </div>
        <hr>
        <div style="margin:0 auto;width:1180px">
            <div id="calendarArea" style="margin:auto;text-align:center;float:left;width:732px;">
            </div>
            <div style="margin:auto;text-align:center;float:left;width:448px">
                <div id="monthWorkingHour"> 
                </div>
                <div>
                </div>
            </div>
        </div>
    </body>
    <script>
        const date = new Date();
        renderCalendar(date)
        renderWorkingHour(date)
    </script>
</html>