<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>NVS month time</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="/static/Calendar/CalendarAPI.js"></script>
        <script src="/static/Calendar/Calendar.js"></script>
        <script src="/static/Calendar/WorkingHour.js"></script>
        <link rel="stylesheet" href="/static/Calendar/Calendar.css">
    </head>
    <body>
        <div id='title' style="margin:auto;text-align:center;">
            <h1>time</h1>
        </div>
        <hr>
        <div style="margin:0 auto;width:1180px;background-color:lightgray;">
            <div id="calendarArea" style="margin:auto;text-align:center;float:left;width:732px;">
            </div>
            <div style="margin:auto;text-align:left;float:left;width:448px">
                <div id="month_working_hour"> 
                </div>
                <div id="month_working_plan" style="margin:auto;margin-top:20px;border:1px solid">
                    <table class="table">
                        <tr>
                            <td><input type='number' class='form-control' placeholder='남은 근무 시간' id='working_done'/></td>
                            <td><input type='button' class='btn btn-outline-dark' value='입력' onclick='render_working_hour(current_date, current_date.getDate())'/></td>
                            <td><i class="fa fa-info-circle" data-toggle="tooltip" title='오늘 퇴근 기준 남은 근무시간' style='cursor:help'/> </td>
                        </tr>
                        <tr>
                            <td><input type='number' class='form-control' placeholder='예상 시간' id='working_plan'/></td>
                            <td><input type='button' class='btn btn-outline-dark' value='입력' onclick='updateWorkingPlan()'/></td>
                            <td><i class="fa fa-info-circle" data-toggle="tooltip" title='남길 근무시간 입력' style='cursor:help'/> </td>
                        </tr>
                        <tr>
                            <td>일일 근무 시간(입력)</td>
                            <td id='daily_working_hour_plan'></td>
                            <td><i class="fa fa-info-circle" data-toggle="tooltip" title='입력한 근무시간 기준 평균 근로필요 시간' style='cursor:help'/></td>
                        </tr>
                        <tr>
                            <td>일일 근무 시간(최대)</td>
                            <td id='daily_working_hour_max'></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>일일 근무 시간(최소)</td>
                            <td id='daily_working_hour_min'></td>
                            <td></td>
                        </tr>
                    </table>
                    <table class="table">
                        <tr>
                            <td><input type='number' class='form-control' placeholder='시급' id='overnight_pay_per_hour'/></td>
                            <td><input type='button' class='btn btn-outline-dark' value='입력' onclick='renderOvernightPay()'/></td>
                        </tr>
                        <tr>
                            <td>금</td>
                            <td id='overnight_pay'></td>
                            <td><i class="fa fa-info-circle" data-toggle="tooltip" title='남은 근무시간 기준 야근비' style='cursor:help'/></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
        overtime_work = 0
        working_hour_plan = 0
        current_date = new Date()
        holidayList = [{% for i in data %} {% if i==data[0] %}"{{i}}"{% else %},"{{i}}"{% endif %} {% endfor %}]
        
        holidayList.push("2022-03-09")
        holidayList.sort()
        vacationList = []
        UpdateAllVacation(vacationList)
        render_calendar(current_date, current_date.getDate())
        render_working_hour(current_date, current_date.getDate())

        updateWorkingPlan()
        renderOvernightPay()
    </script>
</html>