.title
{
    margin:0 auto;
    width:1180px;
    height:80px;
    padding:20px 20px;
    border-bottom:1px solid lightgray;
}

a
{
    text-decoration-line:none;
}

/*
#nav_content>a
{
    color:black;
}
*/

.title_text>a
{
    color:#0d6efd;
}

.title>div
{
    margin:auto;
    float:left;
    width:50%;
    height:60px;
}

.nav_content
{
    margin:0 auto;
    padding:5px 5px;
    float:right;
    text-align:right;
}