#calendar-table
{
    margin:auto;
    text-align:center;
}

.calendar_header{
    height:20px !important;
}

/* 요일 높이 */
#month-weekday{
    height:20px !important;
}

#calendar-table tr td
{
    width:80px;
    height:80px;
    border:1px solid; 
    border-spacing: 0px;
    border-color:lightgray;
}

#year-month{
    font-size:30px;
}

#month-day, #month-weekday, #month-day-today
{
    font-size:large;
}

#month-day-today
{
    background-color:lightgray
}

#month-day-empty{
}

td.sunday, td.holiday{
    color:red;
}
td.saturday{
    color:blue;
}
td.vacation{
    color: #3CB371;
    /* background-color: pink; */
}
td.half_vacation{
    color: #98FB98;
    /* background-color: rgba(255, 192, 203, 0.638); */
}