cffi==1.15.1
click==8.0.3
convertdate==2.4.0
cryptography==38.0.1
Flask==2.0.2
hijri-converter==2.2.3
holidays==0.13
itsdangerous==2.0.1
Jinja2==3.0.3
korean-lunar-calendar==0.2.1
MarkupSafe==2.0.1
mysql-connector-python==8.0.31
protobuf==3.20.1
pycparser==2.21
PyMeeus==0.5.11
PyMySQL==1.0.2
pyOpenSSL==22.1.0
python-dateutil==2.8.2
six==1.16.0
SQLAlchemy==1.4.44
uWSGI==2.0.20
Werkzeug==2.0.3
