<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>NVS month time</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script src="/static/Calendar/CalendarAPI.js"></script>
        <script src="/static/Calendar/Calendar.js"></script>
        <script src="/static/Calendar/WorkingHour.js"></script>
        <script src="/static/Calendar/CalendarViewHandler.js"></script>
        <script src="/static/UserInfoHandler.js"></script>
        <script src="/static/MainPageHandler.js"></script>
        <script src="/static/WorkingHourInput.js"></script>
        
        <link rel="stylesheet" href="/static/Calendar/Calendar.css">
        <link rel="stylesheet" href="/static/PageHeader.css">
        <link rel="stylesheet" href="/static/ContentLayout.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class='title'>
            <div class='title_text'>
                <a href="/" ><h3>Work Hour</h3></a>
            </div>
            <div class='title_nav'>
                <div style="float:top;height:50%"></div>
                <div style="float:top;height:50%">
                    {% if userId %}
                    <div class="nav_content" id="user_info">
                        <p>사용자 : {{userId}}</p>
                    </div>
                    <div class="nav_content" id="user_logout">
                        <a id="logout_btn" href="LogoutRequest">로그아웃</a>
                    </div>
                    {% else %}
                    <div class="nav_content" id="user_info">
                        <a id="login_btn" href="Login.html">로그인</a>
                    </div>
                    {% endif %}
                    <div class="nav_content"><a id="work_input" href="WorkingHourInput.html">근무 입력</a></div>
                </div>
            </div>
        </div>
        <div class='content'>
            <div id="calendarArea" style="margin:auto;text-align:center;float:left;width:732px;">
            </div>
            <div id="side_area"style="text-align:left;float:left;width:448px;">
                <div class='side_view_div' id="month_working_hour"> 
                    <table class='table' id='working-hour-table'>
                        <tr>
                            <td><b>최대 근무 시간</b></td>
                            <td id="month_max_working_hour"></td>
                        </tr>
                        <tr>
                            <td><b>최소 근무 시간</b></td>
                            <td id="month_min_working_hour"></td>
                        </tr>
                    </table>
                </div>
                <div class='side_view_div' id="month_working_input">
                    <table class="table" >
                        <tr>
                            <td colspan='2'><input min='0' value="" class='form-control' placeholder='현재 남은 근무 시간(ex. 123:53)' id='working_done' onchange='UpdateRemainWorkingHourAndUpdate()'/></td>
                            <td><i class="fa fa-info-circle" data-toggle="tooltip" title='현재 남은 근무시간(hh:mm)' style='cursor:help'></i> </td>
                        </tr>
                        <tr>
                            <td colspan='2'>
                                <div class="cs-form">
                                    <input type='time' class='form-control' placeholder='퇴근 예정 시간' id='leave_work_time' onchange='UpdateLeaveWorkTimeAndUpdate()'/>
                                </div>
                            </td>
                            <!-- 
                            <td><input type='checkbox'/></td> 
                            -->
                            <td><i class="fa fa-info-circle" data-toggle="tooltip" title='퇴근 예정 시간' style='cursor:help'></i> </td>
                        </tr>
                        <tr>
                            <td colspan='2'><input type='number' step='100' min='0' class='form-control' placeholder='시급' id='overnight_pay_hour' onchange='UpdateAllViews()'/></td>
                            <td><i class="fa fa-info-circle" data-toggle="tooltip" title='야근 시급(ex. 9000)' style='cursor:help'></i> </td>
                        </tr>
                    </table>
                </div>
                <nav>
                    <div class="nav nav-tabs" id='nav-tab' role="tabllist">
                        <button class="nav-link active" id="nav-current-tab" type="button" data-bs-toggle="tab" data-bs-target="#nav-current" aria-controls="nav-current" role="tab" aria-selected="true">현재</button>
                        <button class="nav-link" id="nav-maxmin-tab" type="button" data-bs-toggle="tab" data-bs-target="#nav-maxmin" aria-controls="nav-maxmin"role="tab" aria-selected="false">최대/최소</button>
                        <button class="nav-link" id="nav-overtime-tab" type="button" data-bs-toggle="tab" data-bs-target="#nav-overtime" aria-controls="nav-overtime" role="tab" aria-selected="false">야근비</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-current" role="tabpanel" aria-labelledby="nav-current-tab">
                        <div class='side_view_div' id="month_working_input">
                            <table class="table" >
                                <tr>
                                    <td colspan='2'><input type='number' step='any' min='0' value="-1" class='form-control' placeholder='목표 시간(ex. 20)' id='working_plan' onchange='UpdateAllViews()'/></td>
                                    <td><i class="fa fa-info-circle" data-toggle="tooltip" title='남길 목표시간 입력' style='cursor:help'></i> </td>
                                </tr>
                            </table>
                        </div>
                        <div class='side_view_div' id="month_working_plan">
                            <table class="table">
                                <tr>
                                    <td><b>일일 근무 시간(목표)</b></td>
                                    <td id='daily_working_hour_plan'></td>
                                    <td><i class="fa fa-info-circle" data-toggle="tooltip" title='입력한 근무시간 기준 평균 근로필요 시간' style='cursor:help'></i></td>
                                </tr>
                                <tr>
                                    <td><b>금일 퇴근 시 야근비</b></td>
                                    <td id='overtime_work_based_current'></td>
                                    <td><i class="fa fa-info-circle" data-toggle="tooltip" title='일일 8시간 근무 기준 금일 퇴근 했을 때 야근비' style='cursor:help'></i></td>
                                </tr>
                                <tr>
                                    <td><b>목표시간 야근비</b></td>
                                    <td id='overnight_pay_plan'></td>
                                    <td><i class="fa fa-info-circle" data-toggle="tooltip" title='계획 근무시간 기준 야근비' style='cursor:help'></i></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-maxmin" role="tabpanel" aria-labelledby="nav-maxmin-tab">
                        <div class='side_view_div' id="month_working_plan">
                            <table class="table">
                                <tr>
                                    <td><b>최소 일일 근무 시간</b></td>
                                    <td id='daily_working_hour_min'></td>
                                    <td><i class="fa fa-info-circle" data-toggle="tooltip" title='최소 근무시간 기준 평균 근로필요 시간' style='cursor:help'></i></td>
                                </tr>
                                <tr>
                                    <td><b>최대 일일 근무 시간</b></td>
                                    <td id='daily_working_hour_max'></td>
                                    <td><i class="fa fa-info-circle" data-toggle="tooltip" title='최대 근무시간 기준 평균 근로필요 시간' style='cursor:help'></i></td>
                                </tr>
                                <tr>
                                    <td><b>최대근무 야근비</b></td>
                                    <td id='overnight_pay_max'></td>
                                    <td><i class="fa fa-info-circle" data-toggle="tooltip" title='계획 근무시간 기준 야근비' style='cursor:help'></i></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-overtime" role="tabpanel" aria-labelledby="nav-overtime-tab">
                        <div class='side_view_div' id="month_working_overtime">
                            <table class="table">
                                <tr>
                                    <td colspan='2'><input type='number' step='any' min='0' value="-1" class='form-control' placeholder='예상 야근비' id='working_overpay' onchange='UpdateAllViews()'/></td>
                                    <td><i class="fa fa-info-circle" data-toggle="tooltip" title='예상 야근비' style='cursor:help'></i> </td>
                                </tr>
                                <tr>
                                    <td><b>일일 근무 시간</b></td>
                                    <td id='daily_working_hour_overpay_plan'></td>
                                    <td><i class="fa fa-info-circle" data-toggle="tooltip" title='예상 야근비 달성을 위한 일일 야근 시간' style='cursor:help'></i></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <!-- Modal Working Day-->
        <div class="modal fade" id="day_modal" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">근태</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
                    </div>
                    <div class="modal-body" style="display:flex;flex-direction:column;">
                        날짜 : <br>
                        <input class='form-control' id='keyVal' value=''/>
                        근무시간 : <br>
                        <input class='form-control' id="work_hour_day" value=''/>
                        <br>
                        <div>
                            <input type='radio' class="form-check-input" name="radAnswer" id='working_day' value=3 checked/>
                            <label class="form-check-label" for="working_day">근무</label><br>
                        </div>
                        <div>
                            <input type='radio' class="form-check-input" name="radAnswer" id='full_day' value=1/>
                            <label class="form-check-label" for="full_day">휴가</label><br>
                        </div>
                        <div>
                            <input type='radio' class="form-check-input" name="radAnswer" id='half_day' value=2/>
                            <label class="form-check-label" for="half_day">반차</label><br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="UpdateDayInformationFromPopup()" data-bs-dismiss ='modal'>Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal result-->
        <div class="modal fade" id="signin_result_modal" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">회원가입 성공</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
                    </div>
                    <div class="modal-body" id="signin_result_body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $(document).ready(function(){
            $('dt').click(function()
            {
                $('dd').addClass('hidden');
                $(this).next().removeClass('hidden');
            });
            $('[data-toggle="tooltip"]').tooltip();
            //$('work_input').onclick=
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
            displayLoginPopup( "{{message}}" )
                    {% endfor %}
                {% endif %}
            {% endwith %}
        });

        UpdateGlobalDateInformation([{% for i in data %} {% if i==data[0] %}"{{i}}"{% else %},"{{i}}"{% endif %} {% endfor %}])
        UpdateAllViews()
    </script>
</html>