.content
{
    margin:0 auto;
    width:1180px;
    padding:30px 0px;
}

#side_area, #calendarArea
{
    padding:0px 20px;
}

#side_area>div.side_view_div, #side_area>div>div>div.side_view_div
{
    /*border:1px solid #dae1e6;*/
    background-color:#f9f9f9;
    border-radius: 10px;

    /*margin:15px;*/
}

#side_area>div>table
{
    border:0px;
}

#side_area>div>table>th, td
{
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;
}